body {
    background-color: #000;
    font-family: sans-serif;
    color: #FFF;
}

.box {
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 40px;
    text-shadow: 1px 1px 10px #000;
    font-weight: bold;
}
